In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('finalTrain.csv')

In [3]:
df=df.drop(labels='ID',axis=1)

In [4]:
cat_col=df.columns[df.dtypes=="object"]

In [5]:
cat_col

Index(['Delivery_person_ID', 'Order_Date', 'Time_Orderd', 'Time_Order_picked',
       'Weather_conditions', 'Road_traffic_density', 'Type_of_order',
       'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [6]:
df['Delivery_person_ID'].nunique()

1320

In [7]:
for i in cat_col:
    print(i)
    print(df[i].nunique())

Delivery_person_ID
1320
Order_Date
44
Time_Orderd
176
Time_Order_picked
193
Weather_conditions
6
Road_traffic_density
4
Type_of_order
4
Type_of_vehicle
4
Festival
2
City
3

In [8]:
#personalise code made by me
'''for i in cat_col:
    print(i)
    a=0
    for i in df[i].value_counts():
        a+=1
    print(a)'''

'for i in cat_col:\n    print(i)\n    a=0\n    for i in df[i].value_counts():\n        a+=1\n    print(a)'

In [9]:
#we are handling the catagorical data in different steps
#Nominal encoding type of the catagorical data and its type
#1.OneHotEncoding
#2.OneHotencoding with many catagories
#3. mean  encoding 
#ordinal encoding and its type
#1.label encoding
#2.target guided encoding

In [10]:
##applying the onehot encodimg for 1st 10 most frequent data
df1=pd.read_csv("finalTrain.csv")

In [11]:
top_10=[x for x in df1['Time_Order_picked'].value_counts().sort_values(ascending=False).head(10).index]

In [12]:
top_10

['21:30',
 '22:50',
 '22:40',
 '18:40',
 '17:55',
 '21:45',
 '22:25',
 '18:05',
 '23:50',
 '20:50']

In [13]:

#making it binary
for label in top_10:
    df1[label]=np.where(df1['Time_Order_picked']==label,1,0)
df1[['Time_Order_picked']+top_10].head(20)

,Time_Order_picked,21:30,22:50,22:40,18:40,17:55,21:45,22:25,18:05,23:50,20:50
0,22:10,0,0,0,0,0,0,0,0,0,0
1,15:05,0,0,0,0,0,0,0,0,0,0
2,17:40,0,0,0,0,0,0,0,0,0,0
3,09:30,0,0,0,0,0,0,0,0,0,0
4,20:05,0,0,0,0,0,0,0,0,0,0
5,20:35,0,0,0,0,0,0,0,0,0,0
6,15:10,0,0,0,0,0,0,0,0,0,0
7,20:40,0,0,0,0,0,0,0,0,0,0
8,20:50,0,0,0,0,0,0,0,0,0,1
9,21:30,1,0,0,0,0,0,0,0,0,0
10,20:25,0,0,0,0,0,0,0,0,0,0
11,22:45,0,0,0,0,0,0,0,0,0,0
12,08:30,0,0,0,0,0,0,0,0,0,0
13,19:45,0,0,0,0,0,0,0,0,0,0
14,12:30,0,0,0,0,0,0,0,0,0,0
15,18:50,0,0,0,0,0,0,0,0,0,0
16,20:40,0,0,0,0,0,0,0,0,0,0
17,23:30,0,0,0,0,0,0,0,0,0,0
18,21:35,0,0,0,0,0,0,0,0,0,0
19,23:45,0,0,0,0,0,0,0,0,0,0

In [14]:
##doing top 10 based approch on 4 catagorical colum Delivery_person_ID
#1.Delivery_person_ID 2.Order_Date 3.Time_Orderd 4.Time_Order_picked
##remaning all do normal ordinall encoding
#1.Weather_conditions 2.Road_traffic_density 3.Type_of_order 4.Type_of_vehicle
#5.Festival 6.City

In [15]:
#creating the funtion for top 10 catagories
def one_hot_top(data,variable,top_x_label):
    for label in top_x_label:
        df[variable+'_'+label]=np.where(df[variable]==label,1,0)



one_hot_top(df1,'Time_Order_picked',top_10)

In [16]:
df1.shape

(45584, 30)

In [17]:
df1=df1.drop(labels=['Delivery_person_ID','Order_Date', 'Time_Orderd', 'Time_Order_picked',"ID"],axis=1)

Succesufully completed ohe for more catagories

In [18]:
top_10=[x for x in df1['Time_Order_picked'].value_counts().sort_values(ascending=False).head(10).index]
#making it binary
for label in top_10:
    df1[label]=np.where(df1['Time_Order_picked']==label,1,0)
df1[['Time_Order_picked']+top_10].head(20)

#creating the funtion for top 10 catagories
def one_hot_top(data,variable,top_x_label):
    for label in top_x_label:
        df[variable+'_'+label]=np.where(df[variable]==label,1,0)



one_hot_top(df1,'Time_Order_picked',top_10)

KeyError: 'Time_Order_picked'

In [ ]:
df2=pd.read_csv('finalTrain.csv')

NameError: name 'pd' is not defined

In [ ]:
ohe_data=['Delivery_person_ID','Order_Date','Time_Orderd','Time_Order_picked']

In [ ]:

for i in ohe_data:
    top_10=[x for x in df2[i].value_counts().sort_values(ascending=False).head(10).index]
    print(top_10)

['JAPRES11DEL02', 'PUNERES01DEL01', 'VADRES11DEL02', 'VADRES08DEL02', 'JAPRES03DEL01', 'RANCHIRES02DEL01', 'HYDRES04DEL02', 'INDORES15DEL01', 'BANGRES07DEL02', 'BANGRES03DEL01']
['15-03-2022', '03-04-2022', '13-03-2022', '26-03-2022', '24-03-2022', '09-03-2022', '05-04-2022', '05-03-2022', '07-03-2022', '03-03-2022']
['21:55', '17:55', '0.833333333', '22:20', '21:35', '19:50', '21:15', '22:45', '21:20', '18:35']
['21:30', '22:50', '22:40', '18:40', '17:55', '21:45', '22:25', '18:05', '23:50', '20:50']

In [ ]:
# finally creating the funtion required for many catagories in the dataset
def ohe_many_cat(data, dataset):
    for i in data:
        top_10 = [x for x in dataset[i].value_counts().sort_values(ascending=False).head(10).index]
        for label in top_10:
            dataset[label] = np.where(dataset[i] == label, 1, 0)
        dataset[[i]+top_10].head(20)

In [ ]:
df2.shape

NameError: name 'df2' is not defined

In [ ]:
df3=pd.read_csv('finalTrain.csv')

In [ ]:
ohe_many_cat(ohe_data,df3)

In [ ]:
df3.shape

(45584, 59)

In [ ]:
df3=df3.drop(labels=['ID'],axis=1)

In [ ]:
df3.head(10)

,ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,...,18:35,21:30,22:50,22:40,18:40,21:45,22:25,18:05,23:50,20:50
0,0xcdcd,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,...,0,0,0,0,0,0,0,0,0,0
1,0xd987,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,...,0,0,0,0,0,0,0,0,0,0
2,0x2784,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,...,0,0,0,0,0,0,0,0,0,0
3,0xc8b6,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,...,0,0,0,0,0,0,0,0,0,0
4,0xdb64,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,...,0,0,0,0,0,0,0,0,0,0
5,0x3af3,29.0,4.5,19.176269,72.836721,19.266269,72.926721,Sandstorms,Jam,2,...,0,0,0,0,0,0,0,0,0,0
6,0x3aab,35.0,4.0,12.311072,76.654878,12.351072,76.694878,Windy,High,1,...,0,0,0,0,0,0,0,0,0,0
7,0x689b,33.0,4.2,18.592718,73.773572,18.702718,73.883572,Sandstorms,Jam,2,...,0,0,0,0,0,0,0,0,0,0
8,0x6f67,34.0,4.9,17.426228,78.407495,17.496228,78.477495,Cloudy,Jam,0,...,0,0,0,0,0,0,0,0,0,1
9,0xc9cf,21.0,4.7,22.552672,88.352885,22.582672,88.382885,Windy,Jam,0,...,0,1,0,0,0,0,0,0,0,0

In [ ]:
df3.head(10)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,...,18:35,21:30,22:50,22:40,18:40,21:45,22:25,18:05,23:50,20:50
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,...,0,0,0,0,0,0,0,0,0,0
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,...,0,0,0,0,0,0,0,0,0,0
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,...,0,0,0,0,0,0,0,0,0,0
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,...,0,0,0,0,0,0,0,0,0,0
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,...,0,0,0,0,0,0,0,0,0,0
5,29.0,4.5,19.176269,72.836721,19.266269,72.926721,Sandstorms,Jam,2,Buffet,...,0,0,0,0,0,0,0,0,0,0
6,35.0,4.0,12.311072,76.654878,12.351072,76.694878,Windy,High,1,Meal,...,0,0,0,0,0,0,0,0,0,0
7,33.0,4.2,18.592718,73.773572,18.702718,73.883572,Sandstorms,Jam,2,Snack,...,0,0,0,0,0,0,0,0,0,0
8,34.0,4.9,17.426228,78.407495,17.496228,78.477495,Cloudy,Jam,0,Snack,...,0,0,0,0,0,0,0,0,0,1
9,21.0,4.7,22.552672,88.352885,22.582672,88.382885,Windy,Jam,0,Meal,...,0,1,0,0,0,0,0,0,0,0

In [ ]:
df3.shape

(45584, 54)

In [20]:
from sklearn.preprocessing import OneHotEncoder

In [21]:
ohe=OneHotEncoder()

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x=df1.drop(labels=['Time_taken (min)'],axis=1)
y=df1[['Time_taken (min)']]

In [24]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=40)

In [25]:
x_train.shape

(31908, 24)

In [28]:
x_train_new=ohe.fit_transform(x_train[['Weather_conditions','Road_traffic_density','Type_of_order','Type_of_vehicle','Festival' ,'City']])
x_test_new=ohe.fit_transform(x_test[['Weather_conditions','Road_traffic_density','Type_of_order','Type_of_vehicle','Festival' ,'City']])

In [ ]:
x_train_new=pd.Dataframe(preprocessor)

Sucessfully created funtion for the ohe for many catagories